* { 

    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
} 
body { 

    background-color: rgb(26, 26, 26);
}
.icons { 
    width: 2rem;
    height: 2rem;
   
    

}
.btn  { 

    background-color: #1DB954;

}

.volume { 
    background-color: #1DB954; 
    width: 2rem;
    height: 2rem;
    padding: 2px;
    border-radius: 4px;

}
#volume-slider { 

    color:#1DB954; 
}

.container  { 
  display: flex;
  justify-content: center;
  align-items: center;

   
}

header { 
    text-align: center;
    font-family: 'Sodo-sans';
    color: aliceblue;
    letter-spacing: 1px;
    font-size: 2rem;
    
}

.image-fluid  { 
  
  
    width: 60rem;
   height: 40rem;
 
    padding: 40px;
    filter: brightness(90%);
   
  
  
    
     
}


.music-player { 


    display: flex;
    justify-content: center;
    align-items: center;
width: 100%;

  

}

.volume-justify { 
  
display: flex;
margin-left: 10rem;
color: #1DB954;

    

    

}

